.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: bisque; */
    box-sizing: border-box;
    padding: 1.3em 4em;
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
}

.logo-container {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.rizal-logo {
    width: 8rem;
    margin: 0;
}

.link-container {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    /* background-color: red; */
}

.link-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-container li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-container a {
    text-decoration: none;
    color: black;
    transition: 250ms ease-in-out;
}

#active-link {
    color: #8A542C;
    border-bottom: 3px solid #8A542C;
}

.link-container a:hover {
    color: #8A542C;
}

#rizal-focus-hover {
    position: relative;
    /* background: #8A542C; */
}

.rizal-focus-container {
    display: none;
    position: absolute;
    bottom: -7rem;
    left: 0;
    box-sizing: border-box;
    width: 10rem;
    border-radius: 8px;
    padding: 0;
    list-style: none;
    transition: 300ms ease-in-out;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.rizal-focus-container li:hover {
    background-color: #72482A;
    border-radius: 8px;
}

.rizal-focus-container li a {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    padding: .7em;
    color: white;
}

#rizal-focus-hover:hover .rizal-focus-container {
    display: block;

}

.rizal-focus-container {
    background-color: #8A542C;
}